git+https://github.com/erikvw/django-revision@develop#egg=django-revision
git+https://github.com/erikvw/django-crypto-fields@develop#egg=django-crypto-fields
git+https://github.com/clinicedc/edc-base@develop#egg=edc-base
git+https://github.com/clinicedc/edc-constants@develop#egg=edc-constants
git+https://github.com/clinicedc/edc-visit-schedule@develop#egg=edc-visit-schedule
git+https://github.com/clinicedc/edc-appointment@develop#egg=edc-appointment
git+https://github.com/clinicedc/edc-registration@develop#egg=edc-registration
git+https://github.com/clinicedc/edc-metadata@develop#egg=edc-metadata
git+https://github.com/clinicedc/edc-consent@develop#egg=edc-consent
git+https://github.com/clinicedc/edc-offstudy@develop#egg=edc-offstudy
git+https://github.com/clinicedc/edc-device@develop#egg=edc-device
git+https://github.com/clinicedc/edc-identifier@develop#egg=edc-identifier
git+https://github.com/clinicedc/edc-timepoint@develop#egg=edc-timepoint
git+https://github.com/clinicedc/edc-protocol@develop#egg=edc-protocol
git+https://github.com/clinicedc/edc-metadata-rules@develop#egg=edc-metadata-rules
git+https://github.com/clinicedc/edc-lab@develop#egg=edc-lab
git+https://github.com/clinicedc/edc-label@develop#egg=edc-label
git+https://github.com/clinicedc/edc-facility@develop#egg=edc-facility
git+https://github.com/clinicedc/edc-reference@develop#egg=edc-reference
git+https://github.com/clinicedc/edc-model-admin@develop#egg=edc-model-admin
git+https://github.com/clinicedc/edc-form-validators@develop#egg=edc-form-validators
